section.home-hero + section.cta-cards {
    margin-top: -40px;

    .container {
        padding-top: 0 !important;
    }
}

section.cta-cards {
    position: relative;
    z-index: 5;

    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(50% - 40px);
            max-width: calc(50% - 40px);
            flex-basis: calc(50% - 40px);
            margin: 20px;
            background: white;
            border-radius: $radius-mid;
            padding: 40px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &.has-image {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: row;

                .info {
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding-right: 10px;
                    align-self: flex-start;
                }

                img {
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-bottom: -40px;
                    width: 200px;
                    max-width: 30%;
                    max-height: 80%;
                    object-fit: contain;
                    object-position: right bottom;
                    margin-right: -20px;
                }
            }

            .btn {
                margin-top: auto;
                margin-bottom: 20px;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.cta-cards .flex-wrapper {
        display: block;
        margin: 0;

        > * {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;
            padding: 20px;

            &.has-image {
                img {
                    width: 80px;
                    margin-bottom: -20px;
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    section.cta-cards .flex-wrapper > *.has-image img {
        display: none;
    }
}
