section.cta {
    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        > * {
            width: calc(60% - 80px);
            max-width: calc(60% - 80px);
            flex-basis: calc(60% - 80px);
            margin: 40px;
            font-size: 1.25rem;

            &:first-child > * {
                max-width: 700px;
            }

            &:last-child {
                width: calc(40% - 80px);
                max-width: calc(40% - 80px);
                flex-basis: calc(40% - 80px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                a.phone,
                a.email {
                    font-weight: 400;
                    display: inline-flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 15px;
                    transition: color 0.3s ease-in-out;
                    font-size: 1.1rem;

                    &:hover,
                    &:focus {
                        color: $orange;
                    }

                    &:before {
                        @extend .icon-font;
                        content: '\e90a';
                        margin-right: 10px;
                        font-size: 1.1rem;
                    }

                    &.email:before {
                        content: '\e909';
                    }
                }

                .btn {
                    display: flex;
                    margin-bottom: 15px;
                }
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
