section.home-hero+section.cta-cards {
    margin-top: -40px;

    .container {
        padding-top: 0 !important;
    }
}

section.cta-cards {
    position: relative;
    z-index: 5;

    &.comparison-grid-design {
        .flex-wrapper {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 20px;
            margin: 0;

            >* {
                width: 100%;
                max-width: 100%;
                grid-column: span 6;
                grid-row: span 1;
                margin: 0;

                &:nth-child(2) {
                    grid-row: span 2;
                }

                @media only screen and (max-width: 991px) {
                    grid-column: span 12 !important;
                    grid-row: span 1 !important;
                }
            }
        }
    }

    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px;

        >* {
            width: calc(50% - 40px);
            max-width: calc(50% - 40px);
            flex-basis: calc(50% - 40px);
            margin: 20px;
            background: white;
            border-radius: $radius-mid;
            padding: 40px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            justify-content: flex-start;

            @media only screen and (max-width: 991px) {

                .btn-ghost {
                    margin-left: 0 !important;
                }
            }

            .btn-ghost {
                margin-left: 10px;
            }


            .author {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 20px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                    object-position: center center;
                    margin-right: 10px;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                .info {
                    >* {
                        display: block;

                        &.name {
                            font-weight: 700;
                        }
                    }
                }
            }

            &.has-crosses {
                ul li:before {
                    content: '\e91d';
                    color: rgba(0, 0, 0, 0.4);
                    top: 1px;
                }
            }

            .icon {
                display: block;
                margin: 0 0 20px 0;
                height: 50px;
                width: auto;
                max-width: 100%;
            }

            .rating-text {
                color: #8f8fa4;
            }

            @media only screen and (min-width: 991px) {
                .rating-text {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    &:before {
                        margin: 0 0 10px 0;
                    }
                }
            }

            &.has-image {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                flex-direction: row;

                .info {
                    flex-grow: 1;
                    flex-shrink: 1;
                    padding-right: 10px;
                    align-self: flex-start;
                }

                .person {
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-bottom: -40px;
                    width: 200px;
                    max-width: 30%;
                    max-height: 80%;
                    object-fit: contain;
                    object-position: right bottom;
                    margin-right: -20px;
                }
            }

            .btn {
                margin-top: auto;
                margin-bottom: 10px;
            }

            >*:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.cta-cards .flex-wrapper {
        display: block;
        margin: 0;

        >* {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;
            padding: 20px;

            &.has-image {
                .person {
                    width: 80px;
                    margin-bottom: -20px;
                    margin-right: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    section.cta-cards .flex-wrapper>*.has-image img {
        display: none;
    }
}