section.emergency-contacts {
    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;
            background: $white;
            border: 1px solid rgba(0,0,0,0.3);
            border-radius: $radius-mid;
            font-size: 1.1rem;
            padding: 20px;

            h3 {
                margin-bottom: 10px;
            }

            a {
                color: $orange;
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
    }
}
