section.emergency-contacts {
    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: $radius-mid;
            font-size: 1.1rem;
            padding: 20px;

            h3 {
                margin-bottom: 10px;
            }

            a {
                color: $orange;
                font-size: 1.3rem;
                font-weight: 400;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.emergency-contacts .flex-wrapper {
        margin: -10px;

        > * {
            margin: 10px;
            width: calc(50% - 20px);
            max-width: calc(50% - 20px);
            flex-basis: calc(50% - 20px);
        }
    }
}

@media only screen and (max-width: 600px) {
    section.emergency-contacts .flex-wrapper {
        display: block;
        margin: 0;

        > * {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
