section.form {
    &.card .card {
        padding: 80px;
        background: $yellow;
        border-radius: $radius-large;

        .flex-wrapper .content .rating-text {
            background: $white
        }
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        > * {
            width: calc(50% - 80px);
            max-width: calc(50% - 80px);
            flex-basis: calc(50% - 80px);
            margin: 40px;

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .content {
            font-size: 1.1rem;

            .contact {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                justify-content: flex-start;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                    margin-right: 20px;
                    border-radius: 100%;
                }

                .info > *:last-child {
                    margin-bottom: 0;
                }
            }

            .rating-text {
                background: #A0E7E7;
                padding: 10px 20px;
                border-radius: $radius-small;
                font-size: .9rem;
            }

            a {
                font-weight: 400;
            }

            h2,
            .h1,
            h1 {
                margin-bottom: 40px;
                font-weight: 700;
            }

            .contact-card {
                margin-bottom: 40px;

                .title-wrap {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-bottom: 10px;

                    svg * {
                        fill: $orange;
                    }

                    h4 {
                        font-weight: 700;
                        margin-bottom: 0;

                    }

                    img,
                    svg {
                        height: 30px;
                        margin-right: 10px;
                    }
                }
            }
        }

        .form {
            background: $white;
            border-radius: $radius-large;
            padding: 40px;

            button,
            .btn,
            .button,
            input[type="submit"] {
                width: 100%;
            }

            p.light {
                margin-top: 10px;
                display: block;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
