section.google-reviews {
    .card {
        background: $light-blue;
        padding: 40px;
        border-radius: $radius-large;

        .top-wrap {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -8px -8px 20px -8px;

            > * {
                width: calc(25% - 16px);
                max-width: calc(25% - 16px);
                flex-basis: calc(25% - 16px);
                margin: 8px;

                > *:last-child {
                    margin-bottom: 0;
                }
            }

            .review-card {
                background: $white;
                border-radius: 12px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                img {
                    height: 30px;
                    max-width: 40%;
                    object-fit: contain;
                    object-position: left center;
                    margin-right: 20px;
                }

                p {
                    position: relative;
                    display: block;
                    padding-top: 20px;
                    font-size: .8rem;

                    &:before {
                        @extend .icon-font;
                        content: '\e915';
                        position: absolute;
                        left: 0;
                        top: 0;
                        font-size: 17px;
                        color: $yellow;
                    }
                }
            }
        }

        .ti-widget {
            margin: -8px !important;
            width: auto;
        }

    }
}
