section.hero {
    &.center {
        .content {
            margin: 0 auto;
            text-align: center;
            max-width: 700px;
            font-size: 1.1rem;

            h1,
            h2 {
                font-weight: 700;
            }

            >*:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.left {
        .flex-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -40px;

            .content {
                font-size: 1.1rem;
            }

            >* {
                width: calc(50% - 80px);
                max-width: calc(50% - 80px);
                flex-basis: calc(50% - 80px);
                margin: 40px;

                >*:last-child {
                    margin-bottom: 0;
                }
            }

            .cta {
                background: $lighter-blue;
                border-radius: $radius-mid;
                padding: 40px;

                .rating-text {
                    color: $text-light;
                }

                &.has-image {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    flex-direction: row;

                    .info {
                        flex-grow: 1;
                        flex-shrink: 1;
                        padding-right: 10px;
                        align-self: flex-start;
                    }

                    img {
                        flex-grow: 0;
                        flex-shrink: 0;
                        margin-bottom: -40px;
                        width: 150px;
                        max-width: 30%;
                        max-height: 80%;
                        object-fit: contain;
                        object-position: right bottom;
                        margin-right: -20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.hero {
        &.left {
            .flex-wrapper {
                display: block;
                margin: 0;

                >* {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .cta {
                    padding: 20px;

                    &.has-image {
                        img {
                            width: 80px;
                            margin-bottom: -20px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    section.hero.left .flex-wrapper .cta.has-image img {
        display: none;
    }
}