section.logos {
    h2 {
        margin-bottom: 40px;
        text-align: center;
    }

    .logos-slider {
        margin: -10px;

        .slide {
            padding: 10px;
            position: relative;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: $radius-mid;
            box-sizing: border-box;
            margin: 0 10px;

            &:before {
                content: '';
                padding-top: 50%;
                display: block;
            }

            .image {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 10px;
                box-sizing: border-box;
            }

            img {
                height: 80%;
                width: 80%;
                object-fit: contain;
                object-position: center;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
