section.match-form {
    .card {
        padding: 80px;
        background: $light-blue;
        border-radius: $radius-large;
    }

    .step.hide {
        display: none;
    }

    .step {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        &.no-match {
            margin: 0;

            >* {
                width: 100%;
                max-width: 800px;
                flex-basis: 100%;
                margin: 0 auto;
                text-align: center;

                img {
                    width: auto;
                    height: 80px;
                    display: block;
                    margin: 0 auto 20px auto;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.match-form-step {
            margin: 0;

            >* {
                width: 100%;
                max-width: 800px;
                flex-basis: 100%;
                margin: 0 auto;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        >* {
            width: calc(50% - 80px);
            max-width: calc(50% - 80px);
            flex-basis: calc(50% - 80px);
            margin: 40px;

            >*:last-child {
                margin-bottom: 0;
            }
        }

        .rating-text {
            background: #A0E7E7;
            padding: 10px 20px;
            border-radius: $radius-small;
            font-size: .9rem;
        }

        .contact {
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
            width: 100%;
            justify-content: flex-start;
            background: #A0E7E7;
            padding: 20px;
            border-radius: $radius-small;
            font-size: 1rem;

            img {
                width: 100px;
                max-height: 90%;
                object-fit: contain;
                object-position: right bottom;
                flex-grow: 0;
                flex-shrink: 0;
                margin-bottom: -20px;
            }

            .info {
                flex-grow: 1;
                flex-shrink: 1;
                padding-right: 20px;
                align-self: flex-start;

                >*:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .match-form-error {
            background: rgb(183, 18, 18);
            color: $white;
            padding: 10px 20px;
            border-radius: $radius-mid;
            font-size: .9rem;
            display: block;
            margin-top: 16px;
            margin-bottom: 0;
            text-align: center;

            &.hide {
                display: none !important;
            }
        }

        .match-check-btn { 
            margin-top: 20px; 
            width: 100%;

            &:after {
                @extend .icon-font;
                content: '\e91c';
                margin-left: 10px;
                font-size: 1.3rem;
            }
        }

        .match-question {
            padding: 20px;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            padding-left: 60px;
            position: relative;
            border-radius: $radius-mid;

            .question {
                margin-bottom: 20px;
                font-weight: 500;
            }

            .question-options {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 10px;

                >* {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 0;

                    input {
                        display: none;

                        &:checked+.option-text {
                            background: $orange;
                            color: $white;
                            border-color: $orange;
                        }
                    }

                    .option-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: $radius-small;
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;

                        &:hover,
                        &:focus {
                            background: $orange;
                            color: $white;
                            border-color: $orange;

                        }
                    }
                }
            }

            img,
            svg {
                position: absolute;
                left: 20px;
                top: 20px;
                width: 30px;
                height: auto;
            }

            svg * {
                fill: $orange;
            }


            &:last-child {
                margin-bottom: 0;
            }
        }

        .content {
            font-size: 1.1rem;

            a {
                font-weight: 400;
            }

            h2,
            .h1,
            h1 {
                margin-bottom: 20px;
                font-weight: 700;
            }
        }

        .form {
            background: $white;
            border-radius: $radius-large;
            padding: 40px;
            color: $text;

            label,
            legend {
                font-weight: 700 !important;
                font-size: .9rem;
            }

            button,
            .btn,
            .button,
            input[type="submit"] {
                width: 100%;
            }

            p.light {
                margin-top: 10px;
                display: block;
            }

            .wpforms-container .wpforms-list-inline .wpforms-image-choices-modern {
                display: flex;
                align-items: stretch;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: -10px;

                > li {
                    width: calc(50% - 20px);
                    margin: 10px !important;
                    flex-basis: calc(50% - 20px);
                    max-width: calc(50% - 20px);
                    flex-grow: 0;
                    flex-shrink: 0;

                    &.wpforms-selected {
                        label {
                            background: #E4F8F8;
                            border-color: #78DCDC !important;
                            font-weight: 400 !important;
                        }
                    }

                    .wpforms-image-choices-label {
                        
                        font-weight: 400 !important;
                    }
                  

                    label {
                        margin: 0;
                        padding: 0;
                        display: block;
                        border-radius: 0;
                        border: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        width: 100%;
                        height: 100%;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: $radius-mid;
                        box-shadow: none !important;

                        &:hover,
                        &:focus {
                            background: #E4F8F8;
                            border-color: #78DCDC !important;
                        }

                        .wpforms-image-choices-label {
                            margin: 0 !important;
                        }

                        .wpforms-image-choices-image {
                            &:after {
                                content: none !important;
                            }
                        }

                        input {
                            height: 0;
                            margin: 0;
                        }

                        img {
                            height: 40px;
                            display: block;
                            margin: 0 auto 10px auto;	
                        }
                    }
                }
            }

            ul li {
                padding-left: 0;

                &:before {
                    content: none;
                }
            }

            >*:last-child {
                margin-bottom: 0;
            }
        }
    }
}