section.review-slider {
    .card .single-review {
        background: $blue;
        color: $white;
        border-radius: $radius-mid;
        padding: 40px;

        a {
            color: $white;
        }

        .flex-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: -20px;

            > * {
                width: calc(50% - 40px);
                max-width: calc(50% - 40px);
                flex-basis: calc(50% - 40px);
                margin: 20px;

                > *:last-child {
                    margin-bottom: 0;
                }

                span {
                    display: block;
                    font-size: 1.1rem;
                }

                .author {
                    font-weight: 700;
                }
            }

            .image {
                display: block;
                border-radius: $radius-mid;
                overflow: hidden;
                position: relative;

                &:before {
                    content: '';
                    display: block;
                    padding-top: 75%;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.review-slider {
        .card .single-review {
            padding: 20px;

            .flex-wrapper {
                display: block;
                margin: 0;

                > * {
                    width: 100%;
                    max-width: 100%;
                    flex-basis: 100%;
                    margin: 0 0 20px 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
