
section.steps {
    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;
            background: $white;
            border-radius: $radius-mid;
            padding: 40px;
            color: $text;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            img {
                height: 50px;
                display: block;
                margin-bottom: 20px;
            }

            .btn {
                margin-top: auto;
            }

            a {
                color: $orange;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
