section.text-cards {
    &.cards-first .flex-wrapper {
        flex-direction: row-reverse;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -40px;

        > * {
            width: calc(50% - 80px);
            max-width: calc(50% - 80px);
            flex-basis: calc(50% - 80px);
            margin: 40px;

            > *:last-child {
                margin-bottom: 0;
            }
        }

        .cards-wrapper {
            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;
            margin: -20px;

            > * {
                width: calc(50% - 40px);
                max-width: calc(50% - 40px);
                flex-basis: calc(50% - 40px);
                margin: 20px;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: $radius-mid;
                text-align: center;
                padding: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                .btn-ghost {
                    margin-top: auto;
                }

                svg * {
                    fill: $orange;
                }

                svg,
                img {
                    height: 50px;
                    display: block;
                    margin: 0 auto 20px auto;
                }

                > *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
