section.timeline {
    overflow: hidden;

.slider {
    padding-left: 30%;
}

    .slick-arrow {
        left: 50% !important;
        top: 0 !important;
        right: auto !important;

        &.slick-prev {
            transform: translateX(-60%) !important;
        }

        &.slick-next {
            transform: translateX(60%) !important;
        }
    }

    .slick-track {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        overflow: visible;
    }

    .slick-list {
        overflow: visible;
        padding-top: 60px;
    }

    .card {
        border-radius: $radius-mid;
        overflow: hidden;
        width: 80vw;
        max-width: 400px;
        margin-right: 20px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        opacity: .5;
        transition: opacity 0.3s ease-in-out;

        &.slick-active {
            opacity: 1;
        }

        .image {
            position: relative;
            display: block;
            width: 100%;
            flex-grow: 0;
            flex-shrink: 0;

            .year {
                position: absolute;
                left: 20px;
                top: 20px;
                background: $lighter-blue;
                color: $blue;
                padding: 5px 10px;
                border-radius: 100px;
                z-index: 5;
                font-size: .9rem;
            }

            &:before {
                content: '';
                padding-top: 56.25%;
                display: block;
            }

            img {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .content {
            padding: 30px;
            background: $light-blue;
            flex-grow: 1;
            flex-shrink: 1;

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.timeline {
        .slider {
            padding-left: 0;
        }
    }
}
