section.values {
    .flex-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(25% - 40px);
            max-width: calc(25% - 40px);
            flex-basis: calc(25% - 40px);
            margin: 20px;
            background: $blue;
            color: $white;
            border-radius: $radius-mid;
            text-align: center;
            padding: 40px;

            svg * {
                fill: $orange;
            }

            svg,
            img {
                height: 50px;
                display: block;
                margin: 0 auto 20px auto;
            }

            > *:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.values .flex-wrapper {
        margin: -10px;

        > * {
            width: calc(50% - 20px);
            max-width: calc(50% - 20px);
            flex-basis: calc(50% - 20px);
            margin: 10px;
            padding: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    section.values .flex-wrapper {
        display: block;
        margin: 0;

        > * {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
            margin: 0 0 20px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
