section {
    ul li {
        position: relative;
        list-style: none;
        padding: 0 0 0 30px;
        margin: 0 0 10px 0;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @extend .icon-font;
            content: '\e911';
            margin-right: 10px;
            font-size: 1.2rem;
            color: $orange;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}

section:not(.blue):not(.light-blue) {
    overflow: hidden;

    + section:not(.blue):not(.light-blue) .container {
        padding-top: 0 !important;
    }
}

main section:last-child:not(.blue):not(.light-blue) .container {
    padding-bottom: 0 !important;
}

section.blue {
    overflow: hidden;
    background: $blue;
    color: $white;

    .btn {
        &:hover,
        &:focus {
            background: $orange !important;
            border-color: $orange !important;
            color: $white !important;
        }
    }

    .btn-ghost {
        color: $white !important;
        border-color: $white;
    }

    a {
        color: $white;
    }

    + section.blue .container {
        padding-top: 0 !important;
    }
}

section.light-blue {
    overflow: hidden;
    background: $light-blue;

    + section.light-blue .container {
        padding-top: 0 !important;
    }
}
