.container {
    max-width: 1600px;
    padding: 120px 40px;
    margin: 0 auto;
    position: relative;
    width: 100%;

    &.narrow {
        max-width: 1200px;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}

.slick-dotted {
    padding-bottom: 40px;
    margin: 0 !important;
}

.slick-dots {
    position: absolute;
    left: 50%;
    bottom: 0 !important;
    transform: translateX(-50%);
    text-align: center;

    li {
        width: 12px !important;
        height: 12px !important;
        position: relative;
        background: $blue;
        opacity: .3;
        border-radius: 100%;
        margin: 0 4px;
        transition: all 0.3s ease-in-out;

        &:before,
        &:after {
            content: none !important;
        }

        &:hover,
        &:focus,
        &.slick-active {
            background: $blue;
            opacity: 1;
        }

        button {
            display: none;

            &:before,
            &:after {
                content: none !important;
            }
        }
    }
}

.rating-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &:before {
        @extend .icon-font;
        content: '\e915';
        margin-right: 10px;
        color: #ebc022;
        font-size: 20px;
    }
}

.slick-arrow {
    width: 40px !important;
    max-width: 40px !important;
    height: 40px !important;
    display: block;
    position: absolute;
    background: transparent !important;
    border: 2px solid $text !important;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    border-radius: 100%;
    top: 0 !important;
    right: 0 !important;
    transform: none !important;

    &:hover,
    &:focus {
        background: $light-blue !important;
        border-color: $light-blue !important;

        &:after {
            color: $white;
        }
    }

    &.slick-disabled {
        opacity: 0.25;
        pointer-events: none;
    }

    &:before {
        content: none !important;
    }

    &:after {
        @extend .icon-font;
        content: '\e910';
        position: absolute;
        color: $text;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        font-size: 14px;
        transition: color 0.3s ease-in-out;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }

    &.slick-prev {
        left: auto;
        right: 45px !important;

        &:after {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

.intro {
    max-width: 800px;
    margin-bottom: 40px;

    > *:last-child {
        margin-bottom: 0;
    }

    &.center {
        text-align: center;
        margin: 0 auto 40px auto;

        .rating-text {
            justify-content: center;
        }
    }
}

.page-content {
    padding-top: 190px;

    section:first-child {
        .container {
            padding-top: 40px !important;
        }

        &.hero,
        &.home-hero,
        &.form:not(.card) {
            margin-top: -190px;
            padding-top: 190px;
        }
    }
}

.text-label {
    display: block;
    margin-bottom: 20px;
    color: $orange;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.1;
}

.social a {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 0;
    width: 35px;
    height: 35px;
    background: #233755;
    display: inline-flex;
    margin-left: 5px;
    transition: background 0.3s ease-in-out;

    &:hover,
    &:focus {
        background: $orange;
    }

    &:before {
        @extend .icon-font;
        font-size: .9rem;
        color: $white;
    }

    &.linkedin:before {
        content: '\e908';
    }

    &.instagram::before {
        content: '\e901';
    }

    &.facebook::before {
        content: '\e900';
    }
}

button.lity-close:after {
    content: none !important;
}


.categories {
    margin-bottom: $gutter;

    ul {
        margin: -5px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
            list-style: none;
            margin: 5px !important;
            white-space: nowrap;
            padding-left: 0;

            .btn {
                border-radius: 100px;
                transition: opacity 0.3s ease-in-out;
                opacity: .5;

                &:hover,
                &:focus {
                    opacity: 1 !important;
                }

                &.active {
                    opacity: 1;
                }
            }

            &:after {
                content: none;
            }

            &:before {
                content: none;
            }
        }
    }
}

.pagination {
    flex-basis: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .page-numbers {
        margin: 0 5px;
        font-size: 1rem;
        width: 40px;
        height: 40px;
        background: $white;
        border-radius: $radius-small;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        color: $text;
        font-weight: 700;

        &:hover,
        &:focus,
        &.current {
            background: $orange;
        }
    }
}

@media only screen and (max-width: 991px) {
    .page-content {
        padding-top: 60px;
    }

    .container {
        padding: 60px $gutter-small !important;
    }
}
