@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Iconfont';
    src: url('../library/fonts/icomoon.eot'),
    url('../library/fonts/icomoon.woff') format('woff'),
    url('../library/fonts/icomoon.ttf') format('truetype'),
    url('../library/fonts/icomoon.svg') format('svg');
    font-style: normal;
    font-weight: normal;
}

.icon-font {
    font-family: 'Iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.2;

    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: $font-titles;
    margin: 0 0 $gutter-small 0;
    line-height: 1;
    position: relative;
    z-index: 10;
    font-weight: 700;

    .green {
        color: $orange;
    }

    .blue {
        color: $blue;
    }
}

h1, .h1 {
    font-size: 60px;
    line-height: 1.2;
}

h2, .h2 {
    font-size: 48px;
    line-height: 1.2;
}

h3, .h3 {
    font-size: 34px;
    line-height: 1.2;
}

h4, .h4 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
}

h5, .h5 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    h1, .h1 {
        font-size: 40px;
    }

    h2, .h2 {
        font-size: 28px;
    }

    h3, .h3 {
        font-size: 22px;
    }

    h4, .h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}
