footer.footer {
    .container {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .card {
        padding: 80px 80px 40px 80px;
        background: $light-blue;
        border-radius: $radius-large;
    }

    .to-top {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: $orange;
        }

        &:before {
            @extend .icon-font;
            content: '\e910';
            transform: rotate(-90deg);
            font-size: .7rem;
            margin-right: 10px;
        }
    }

    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: -20px;

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;

            .h4 {
                font-weight: 700;
            }

            > *:last-child {
                margin-bottom: 0;
            }

            .logo {
                height: 80px;
                display: block;
                margin-bottom: 20px;
            }

            .btn,
            .btn-ghost {
                display: flex;
                width: 100%;
                margin-bottom: 10px;

                &:before {
                    @extend .icon-font;
                    content: '\e90a';
                    margin-right: 10px;
                    font-size: 1.3rem;
                }

                &.email:before {
                    content: '\e909';
                }

                &.log-in:before {
                    content: '\e912';
                    font-size: 1.15rem;
                }
            }

            ul {
                margin: 0 0 20px 0;
                padding: 0;

                li {
                    margin: 0 0 10px 0;
                    padding: 0;
                    list-style: none;

                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            color: $orange;
                        }
                    }

                    a {
                        font-weight: 400;
                        transition: color 0.3s ease-in-out;

                        &:hover,
                        &:focus {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }

    .copyright-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 40px -20px -20px -20px;

        span {
            display: block;
        }

        > * {
            width: calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            flex-basis: calc(33.333% - 40px);
            margin: 20px;

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3) {
                text-align: right;
            }
        }
    }

    .disclaimer {
        margin-top: 80px;
        padding-top: 20px;
        border-top: 1px solid $text;
        font-size: .9rem;
    }
}

@media only screen and (max-width: 991px) {
    footer.footer {
        .card {
            padding: 20px;
        }

        .disclaimer {
            margin-top: 20px;
        }

        .flex-wrapper,
        .copyright-wrapper {
            display: block;
            margin: 0;

            > * {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .to-top {
                display: none;
            }
        }

        .copyright-wrapper > * {
            text-align: center !important;
            margin-top: 20px;
        }
    }
}
