#wpadminbar {
    display: none;

    #wp-admin-bar-customize,
    #wp-admin-bar-updates,
    #wp-admin-bar-comments,
    #wp-admin-bar-new-content,
    #wp-admin-bar-woocommerce-site-visibility-badge,
    #wp-admin-bar-rank-math,
    #wp-admin-bar-wp-logo {
        display: none !important;
    }

    #wp-admin-bar-my-account a {
        font-size: 0;

        .display-name {
            font-size: 13px;
        }
    }
}

.scrolled header.header {
    background: $white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-40px);
}

.top-bar {
    position: fixed;
    left: 0;
    top: 0;
    background: $blue;
    color: $white;
    width: 100%;
    z-index: 160;

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
    }

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .usps {
        flex-grow: 1;
        flex-shrink: 1;
        width: 60%;
        margin-right: 40px;

        .usp {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .8rem;
            transition: color 0.3s ease-in-out;

            &:before {
                @extend .icon-font;
                content: '\e911';
                margin-right: 15px;
                font-size: 1rem;
                color: $orange;
            }
        }
    }

    .rating-text {
        flex-grow: 0;
        flex-shrink: 0;
        font-size: .8rem;
        margin-left: auto;
        width: auto;

        &:before {
            content: '\e918';
            font-size: 1rem;
            color: $yellow;
        }
    }
}

header.header {
    position: fixed;
    left: 0;
    top: 40px;
    width: 100%;
    height: 150px;
    z-index: 150;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);

    .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logo {
            display: block;
            margin-right: 60px;
            font-size: 0;
            flex-grow: 0;
            flex-shrink: 0;

            img {
                display: block;
                height: 75px;
            }
        }

        .header-wrapper {
            flex-grow: 1;
            flex-shrink: 1;

            .top-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 60px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $text;

                .right {
                    text-align: right;
                    margin-left: auto;

                    a {
                        margin-left: 30px;
                        font-weight: 400;
                        display: inline-flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: .9rem;
                        transition: color 0.3s ease-in-out;

                        &:hover,
                        &:focus {
                            color: $orange;
                        }

                        &:before {
                            @extend .icon-font;
                            content: '\e90a';
                            margin-right: 10px;
                            font-size: 1.1rem;
                        }

                        &.email:before {
                            content: '\e909';
                        }

                        &.log-in:before {
                            content: '\e912';
                            font-size: 1.15rem;
                        }
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        margin: 0 20px 0 0;

                        a {
                            font-size: .8rem;
                            text-transform: uppercase;
                            font-weight: 400;
                            transition: color 0.3s ease-in-out;

                            &:hover,
                            &:focus {
                                color: $orange;
                            }
                        }
                    }
                }
            }

            .bottom-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 70px;
                position: relative;
                z-index: 5;

                .header-buttons {
                    text-align: right;
                    margin-left: auto;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-right: 0;

                    .btn,
                    .btn-ghost {
                        margin-right: 0 !important;
                        margin-left: 5px !important;
                        padding: 10px 20px !important;
                        font-size: 1rem !important;
                    }
                }

                > div {
                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style: none;
                            display: inline-block;
                            position: relative;
                            cursor: pointer;
                            margin: 0 20px;

                            &:first-child {
                                margin-left: 0;
                            }

                            &:last-child {
                                margin-right: 0;
                                padding-right: 0;
                                border: none;
                            }

                            a {
                                display: block;
                                z-index: 5;
                                font-weight: 400;
                                font-size: 1.2rem;
                                color: $text;
                                position: relative;
                                font-family: $font-body;
                                vertical-align: middle;
                                padding: 10px 0;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    left: 50%;
                                    width: 100%;
                                    height: 2px;
                                    background: $orange;
                                    transform: translate(-50%, -50%);
                                    bottom: 0;
                                    opacity: 0;
                                    transition: all 0.3s ease-in-out;
                                }

                                &:hover,
                                &:focus {
                                    &:after {
                                        opacity: 1;
                                        bottom: 5px;
                                    }
                                }
                            }

                            &.current-menu-item,
                            &.current_page_item {
                                a {
                                    &:after {
                                        opacity: 1;
                                        bottom: 5px;
                                    }
                                }
                            }

                            &.has-mega-menu,
                            &.trigger-menu-1,
                            &.trigger-menu-2,
                            &.trigger-menu-3,
                            &.trigger-menu-4,
                            &.trigger-menu-5 {
                                position: relative;

                                > a {
                                    padding-right: 20px;

                                    &:before {
                                        @extend .icon-font;
                                        content: '\e904';
                                        position: absolute;
                                        right: 0;
                                        left: auto;
                                        font-size: 0.6rem;
                                        top: 50%;
                                        width: auto;
                                        height: auto;
                                        background: transparent;
                                        transform: translate(0, -50%);
                                        transition: transform 0.3s ease-in-out;
                                    }

                                    &:after {
                                        content: none;
                                    }
                                }
                            }

                            &.menu-item-has-children {
                                position: relative;

                                &:hover,
                                &:focus {
                                    > .sub-menu {
                                        opacity: 1;
                                        pointer-events: all;
                                    }
                                }

                                > a {
                                    padding-right: 25px;

                                    &:before {
                                        @extend .icon-font;
                                        content: '\e90f';
                                        position: absolute;
                                        right: 0;
                                        font-size: 0.5rem;
                                        top: 50%;
                                        opacity: .5;
                                        transform: translateY(-50%);
                                        width: 20px;
                                        transition: transform 0.3s ease-in-out;
                                    }
                                }

                                &.open {
                                    > a {
                                        &:after {
                                            opacity: 1;
                                        }
                                    }

                                    > ul {
                                        opacity: 1;
                                        pointer-events: all;
                                    }
                                }

                                ul {
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    top: 100%;
                                    background: $white;
                                    width: 350px;
                                    opacity: 0;
                                    transition: opacity 0.3s ease-in-out;
                                    pointer-events: none;
                                    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
                                    border-radius: 10px;
                                    display: block;
                                    padding: 20px;
                                    z-index: 10;
                                    margin: 0;

                                    li {
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                        padding: 10px 0 !important;

                                        &:first-child {
                                            padding-top: 0 !important;
                                        }

                                        &:last-child {
                                            border: none;
                                            padding-bottom: 0 !important;
                                        }
                                    }

                                    li,
                                    a {
                                        display: block;
                                        height: auto;
                                        margin: 0;
                                        padding: 0;
                                        font-weight: 500;
                                        line-height: 1.5;
                                        color: black;

                                        &:hover,
                                        &:focus {
                                            color: $light-blue;
                                        }

                                        .label {
                                            margin-left: auto;
                                        }

                                        &:after {
                                            content: none;
                                        }

                                        &.menu-item-has-children a:before {
                                            right: 0;
                                        }
                                    }

                                    a {
                                        display: flex;
                                        transition: all 0.3s ease-in-out;
                                    }

                                    li.menu-item-has-children {
                                        .label {
                                            margin-right: 10px;
                                        }

                                        a {
                                            &:hover,
                                            &:focus {
                                                + ul {
                                                    opacity: 1;
                                                    pointer-events: all;
                                                }
                                            }

                                            &:before {
                                                top: 50%;
                                            }
                                        }

                                        ul {
                                            left: auto;
                                            right: 100%;
                                            top: 0;
                                            transform: none;

                                            .label {
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #wpadminbar {
        display: block !important;
    }

    .admin-bar {
        &.scrolled .mega-menu {
            top: 182px;
            height: calc(100% - 182px);
        }

        .top-bar {
            top: 32px;
        }

        .mega-menu {
            top: 222px;
            height: calc(100% - 222px);
        }

        header.header {
            top: 72px;
        }
    }
}

@media only screen and (max-width: 991px) {
    .top-bar {
        .usps {
            width: 100%;
            margin: 0;

            .usp {
                justify-content: center;
            }
        }

        .rating-text {
            display: none;
        }
    }

    header.header {
        height: 60px;

        .flex-wrapper {
            height: 60px;

            .logo img {
                height: 45px;
            }

            .header-wrapper {
                display: none;
            }
        }
    }
}
