.mobile-nav-open .mobile-nav {
    opacity: 1;
    pointer-events: all;
}

.mobile-nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 90;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: none;
    transition: all 0.3s ease-in-out;

    .small-menu {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba(0,0,0,0.3);

        ul li a {
            font-size: .8rem;
        }
    }

    .content {
        padding: 0 $gutter-small;
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        z-index: 10;
        background: $light-blue;

        .small-menu {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid rgba(0,0,0,0.3);

            ul li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-size: 1rem;
                }
            }
        }

        .nav {
            margin-top: 140px;
            overflow-y: auto;

            .header-buttons {
                margin-top: 20px;

                > * {
                    width: 100%;
                    display: flex;
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .social {
        margin-top: 5px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 20px;
            overflow: hidden;
            padding-left: 0;
            margin-left: 0;

            &.current_page_item a {
                color: $orange;
            }

            &.highlight svg * {
                fill: $orange;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: none;
            }

            a {
                font-size: 1.2rem;
                color: $text;
                position: relative;
                font-family: $font-body;
                padding-right: 20px;
                font-weight: 500;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;

                img,
                svg {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                    object-position: center;
                    margin-right: 10px;
                }
            }

            &.has-mega-menu {
                > a {
                    position: relative;
                    transition: color 0.3s ease-in-out;

                    &.open {
                        + ul {
                            transform: translateX(0);

                        }
                    }

                    &:after {
                        @extend .icon-font;
                        content: '\e910';
                        position: absolute;
                        right: 5px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $text;
                        font-size: .9rem;
                        height: auto;
                        opacity: 1;
                        background: transparent;
                        width: auto;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

span.hamburger {
    display: none;
    z-index: 250;
    cursor: pointer;
    align-items: center;
    transition: background 0.3s ease-in-out, top 0.3s ease-in-out;
    margin-left: auto;
    position: fixed;
    right: 20px;
    width: 35px;
    height: 35px;
    top: 70px;
    transform: translateY(-50%);
    border-radius: $radius-small;
    color: $text;
    font-size: .7rem;
    text-transform: uppercase;
    justify-content: center;
    background: $orange;

    &:after {
        @extend .icon-font;
        content: '\e906';
        color: $white;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 991px) {
    span.hamburger {
        display: flex !important;
    }

    .mobile-nav-open span.hamburger:after {
        content: '\e905';
        font-size: 16px;
    }

    .mobile-nav {
        display: block;
    }
}
