.single-post .page-content {
    overflow: visible !important;
}

.post-content {
    overflow: visible !important;

    img {
        display: block;
        margin-bottom: 20px;
        border-radius: $radius-small;
    }

    .post-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        margin: 0 -40px;

        > .sidebar {
            width: calc(33.333% - 80px);
            max-width: calc(33.333% - 80px);
            flex-basis: calc(33.333% - 80px);
            margin: 0 40px;

            .wpforms-container {
                margin-bottom: 0 !important;
            }

            .group {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                > *:last-child {
                    margin-bottom: 0;
                }
            }

            .sticky {
                position: sticky;
                top: 200px;

                button[type=submit] {
                    width: 100%;
                }

                .author {
                    background: $lighter-blue;
                    padding: 10px 20px;
                    border-radius: $radius-small;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        margin: 0 10px 0 0;
                        display: block;
                        object-fit: cover;
                    }
                }

                .social {
                    a {
                        margin: 0 5px 5px 0 !important;
                    }
                }
            }

            .index {
                margin-bottom: $gutter-small !important;

                a {
                    position: relative;
                    display: block;
                    font-weight: 400;
                    font-size: 1rem;
                    transition: color 0.3s ease-in-out;
                    margin-bottom: 10px;
                    border-radius: $radius-small;
                    padding-left: 20px;
                    color: $text;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 6px;
                        width: 10px;
                        height: 10px;
                        background: $orange;
                        border-radius: 100%;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .info {
                font-size: .8rem;

                .date {
                    text-transform: capitalize;
                }

                .time {
                    position: relative;
                    padding-left: 10px;
                    margin-left: 5px;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 3px;
                        height: 3px;
                        background: red;
                        border-radius: 100%;
                    }
                }
            }
        }

        > .content {
            width: calc(66.666% - 80px);
            max-width: calc(66.666% - 80px);
            flex-basis: calc(66.666% - 80px);
            margin: 0 40px;

            a {
                color: $orange;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section.single-hero {
        padding-top: 0;
        margin-bottom: 0 !important;

        .flex-wrapper {
            display: block;
            margin: 0;

            > * {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    section.post-hero .container {
        padding-bottom: 0 !important;
    }

    section.post-content {
        .post-wrapper {
            display: block;
            margin: 0;

            > .sidebar,
            > .content {
                width: 100%;
                max-width: 100%;
                flex-basis: 100%;
                margin: 0 0 20px 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
