// Gutters
$gutter-small: 20px;
$gutter: 40px;
$gutter-large: 80px;

// Fonts
$font-titles: 'Poppins', sans-serif;
$font-body: 'Poppins', sans-serif;

// Borders
$radius-small: 4px;
$radius-mid: 15px;
$radius-large: 20px;

// Colors
$text: #282850;
$text-light: #8f8fa4;
$white: #fff;
$blue: #282850;
$light-blue: #78dcdc;
$lighter-blue: #ecf8f8;
$orange: #f06400;
